.Menu{
    border: 1px solid #333333;
    height: 100%;
    overflow: auto;
    width: calc(100% - 300px);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 15px;
}
